<div>
    <h1>Система отображения статистики продаж</h1>
    <table class="table-primary table-bordered">
        <tr class="table-primary">
            <td class="table-primary">
                  Приложение читает данные о продажах из базы и отображает их в виде, удобном для анализа.<br>
                  Должны быть созданы контроллеры, представления и модели представлений для каждой сущности.<br>
                  Должны быть реализована возможность фильтрации как минимум по двух свойствам для каждой из сущностей.<br>
            </td>
            <td class="table-primary">
                40/26
            </td>
        </tr>
        <tr class="table-primary">
            <td class="table-primary">
                  В системе должна присутствовать аутентификация пользователей.<br>
                  Должны существовать две роли – простой пользователь и администратор.<br>
                  Пользователь может только просматривать данные, не имеет права ничего редактировать.<br>
                  Администратор может изменять записи в базе данных.<br>
            </td>
            <td class="table-primary">
                10/0
            </td>
        </tr>
        <tr class="table-primary">
            <td class="table-primary">
                  Интерфейс для вывода информации продумать и реализовать самостоятельно (приветствуется использование JavaScript фреймфорков).<br>
                  Вывод информации в таблицы должен выполняться с помощью асинхронных AJAX запросов.<br>
            </td>
            <td class="table-primary">
                30/20
            </td>
        </tr>
        <tr class="table-primary">
            <td class="table-primary">
                  Обеспечить валидацию запросов на стороне клиента и сервера (проверка макс. длины, типов данных, формат даты).
            </td>
            <td class="table-primary">
                15/5
            </td>
        </tr>
        <tr class="table-primary">
            <td class="table-primary">
                  Желательно построение диаграмм на основании имеющихся данных, оси - произвольные. Виды диаграмм выбрать самостоятельно.
            </td>
            <td class="table-primary">
                5/0
            </td>
        </tr>
    </table>
</div>

